<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="titulo">
            <h1>CADASTRO DE DOADORES</h1>
        </section>
        <section id="formulario">
            <form method="post" action="fazerlogin">
                <label for="nome">E-mail:</label>
                <input type="text" name="email" placeholder="Digite seu endereço de E-mail">
                <label for="nome">Telefone:</label>
                <input type="password" name="senha" placeholder="Senha">
                
                <div class="botoes">
                    <button type="submit">Login</button>    
                </div>
            </form>
        </section>
        <div class="voltar">
            <button><a href="/inicial">Voltar</a></button>
        </div>
</body>
</html>